.body_post_blog_page {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.container_post_blog_page {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  border-radius: 50px;
  margin-bottom: 50px; 
  padding: 30px 50px 50px 50px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.image_post_blog_page {
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 100%;
  height: 100%;
  max-height: 700px;
}

.h1_post_blog_page {
  font-size: 40px;
  margin-bottom: 30px;
  color: #333333;
}

.h4_post_blog_page {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}

.post_content_post_blog_page {
  margin-top: 30px;
  line-height: 1.6;
  font-size: 22px;
}

.post_content_post_blog_page p {
  color: #333333;
}

.post_content_post_blog_page a {
  color: #0066cc;
  text-decoration: none;
}

.post-content_post_blog_page a:hover {
  text-decoration: underline;
}

.link_post_blog_page {
  color: #333333;
  text-decoration: none;
  text-decoration: underline;
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .container_post_blog_page {
    box-sizing: border-box;
    padding: 20px 5px;
    border-radius: 0;
  }

  .image_post_blog_page {
    width: 100%;
  }

  .h1_post_blog_page {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .h4_post_blog_page {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .post_content_post_blog_page {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .h1_post_blog_page {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .h4_post_blog_page {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .post_content_post_blog_page {
    font-size: 16px;
    margin-top: 15px;
  }
}
