.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
  box-sizing: border-box;

}

.left-section-header {
  display: flex;
  flex-direction: column;
}

.logo-header {
  color: #fafafa;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-header-img {
  margin-top: 5px;
  width: 50%;
  height: auto;
}

.subtitle-header {
  color: #abadb3;
  font-size: 14px;
  font-style: normal;
  font-weight: '300';
  line-height: 21px;
}

.right-section-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-header {
  width: 30px;
  height: 30px;
}

.link-header {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

/* Adicionado para tornar o componente responsivo */
@media screen and (max-width: 768px) {
  .header_container {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    height: 100px;
  }

  .logo-header-img {
    width: 70%;
    height: auto;
  }

  .subtitle-header {
    display: none;
  }
}
