.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 50px;
  width: 100%;
  box-sizing: border-box;

}

.left-section-header {
  display: flex;
  flex-direction: column;
}

.logo-header {
  color: #fafafa;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-header-img {
  margin-top: 5px;
  width: 60%;
  height: auto;
}

.subtitle-header {
  color: #fff;
  /* color: #678C30; */
  font-size: 18px;
  font-style: normal;
  font-weight: '300';
  line-height: 21px;
}

.right-section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10%;
}

.icon-header {
  width: 30px;
  height: 30px;
}

.link-header {
  color: white;
  /* color: #678C30; */
  text-decoration: underline;
  font-weight: 600;
}

/* Adicionado para tornar o componente responsivo */
@media screen and (max-width: 768px) {
  .header_container {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }

  .logo-header-img {
    width: 90%;
    height: auto;
  }

  .right-section-header {
    margin-right: 0;
  }

  .subtitle-header {
    display: none;
  }
}
