.posts-page-blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.post-card-page-blog {
  display: flex;
  flex-direction: row;
  background: transparent;
  border: none;
  margin: 3em 0;
  max-width: 800px;
  width: 47.5%;
  box-shadow: 0 5px 15px rgba(0,0,0,1);
  overflow: hidden;
  height: auto;
  min-height: 270px;
}


.post-card-page-blog:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.blog-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em; 
  width: 100%;
  box-sizing: border-box;
}

.post-title-page-blog {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  font-weight: bold; /* Add boldness to the title */
  color: white;
}

.post-desc-page-blog {
  line-height: 1.2em;
  word-spacing: 0.2em;
  color: #abadb3;
}

.post-img-page-blog {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.post-link-page-blog {
  display: inline-block;
  color: #fff;
  background-color: var(--color-3);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  margin-top: 1em;
  transition: all 0.15s ease-in-out;
}

.post-link-page-blog:hover {
  color: #fff;
  background-color: #3D4ED6;
  border-color: #3D4ED6;
}

@media (max-width: 1300px) {
.posts-page-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .post-card-page-blog {
    width: 100%;
    height: auto; /* Permitir que a altura se ajuste automaticamente ao conteúdo */
  }
}


@media (max-width: 768px) {
  .post-card-page-blog {
    flex-direction: column;
    width: 100%;
    height: auto; /* Permitir que a altura se ajuste automaticamente ao conteúdo */
  }

  .post-title-page-blog {
    font-size: 1.2em;
  }

  .post-desc-page-blog {
    font-size: 0.9em;
    line-height: 1.4em;
  }

  .blog-text-container {
    justify-content: space-evenly;
    padding: 0.5em;
    padding-left: 1em;
  }

  .post-img-page-blog {
    width: 100%; /* Permitir que a imagem ocupe toda a largura da tela */
    height: 150px; 
  }
}